# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
data/*.db
data/*.db-journal

# Environment variables
.env
.env.example

# Virtual environment
venv/
.venv/
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
